.home-logo1 {
    width: 250px;
    height: 125px;
    margin-top: 1rem;
}

.home-logo2 {
    width: 350px;
    height: 125px;
    margin-left: -5rem;
}

.home-logo3 {
    height: 125px;
    width: 150px;
}

.iit-logo {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;

}

.middle-logo {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.bombay-logo {
    margin-top: -5rem;
}

.welcome {
    align-items: center;
    text-align: center;
    margin-top: 2.5rem;
}

.mission-image {
    border-radius: 1.5rem;
    margin: 2rem 1rem;
    height: 450px;
    width: 150px;
}

.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: "100vh";
    margin: 3rem 1rem;
    font-size: 1.5rem;
}

.mission-p1 {

    font-weight: 800;
    align-items: center;
    text-align: center;
}

.mission-p2 {
    /* font-size: 1.5rem; */
    font-weight: 500;
    align-items: center;
    text-align: center;
}

.mission-image1 {
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.mission-logo {
    padding: 1rem 2.5rem;
    margin: auto 1rem;

}

.side-panel {
    display: flex;
    margin-top: 5rem;
}

.side-discription {
    text-align: center;
    transform: rotate(180deg);
    margin-block-start: 0;
    margin-block-end: 0;
    writing-mode: vertical-rl;
    height: 170%;
    background-image: linear-gradient(to right, orange, yellow);
    padding: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.panel-content {
    align-items: center;
    margin: 0 auto;
    display: flex;
}

.panel-members {
    width: 100%;
    align-items: center;
}

.Quote-img {
    display: block;
    width: 800px;
    height: 200px;
    margin: 1rem;
}

.about {
    padding: 2rem;
    margin: 1rem;
    font-weight: 700;
    text-align: center;
}

.about p {
    text-align: left;
}

.heading {
    font-weight: 800;
    align-items: center;
    text-align: center;
    padding: 3rem;
}

.about-image {
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
}

.research-1 {
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.research-head {
    font-weight: 600;
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    color: rgb(87, 87, 87);
}

.research-head1 {
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 5rem;
    margin-bottom: -2rem;
}

.research {
    background-image: linear-gradient(to right, rgb(10, 195, 228), rgba(0, 26, 255, 0.801));
    background-size: cover;
    height: 100%;
    clip-path: ellipse(80% 100% at 50% 100%);
    padding: 0 5rem;
    padding-bottom: 5rem;
}

.research p {
    padding: 2rem;
}

.img-bg {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    align-items: center;
    margin: 2rem 0;

}

.research img {
    width: 100%;
    height: auto;
    min-width: 50%;
}

.r1 {
    clip-path: ellipse(90% 100% at 50% 100%);
    padding-bottom: 1rem;
}

.r2 {
    clip-path: ellipse(90% 100% at 50% 100%);
    padding-bottom: 1rem;
}

.principal-img {
    border-radius: 0 0 2.5rem 2.5rem;
}


.member-image {
    width: 150px;
    height: 125px;
    border-radius: 50%;
    border-left: 10px solid #3ACFD5;
    border-right: 10px solid #3a4ed5;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
}

.card {
    padding: 5px 5px 5px 5px;
    border: 10px #31C5D7;
    border-radius: 10px;
    color: black;
    border: none !important;
    padding: 1rem;
    align-items: center;
    width: 265px;
    height: 200px;
    margin-bottom: 2rem;
    text-align: center;
}

.card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.members {

    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#name {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

#designation {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

#mail {
    font-size: 14px;
    margin-bottom: 0;
}

.head-members {
    align-items: center;
    background-image: linear-gradient(to right, yellow, orange);
    background-size: cover;
}

.wrapper {
    display: flex;
}

.Conceptual {
    height: 100%;
    width: 50%;
    font-size: large;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.Conceptual div p {
    font-size: large;
    font-weight: 700;
    margin-bottom: 0;
}

.m-img {
    width: 175px;
    height: 175px;
}

.research1-image {
    width: 100%;
    height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    /* #home header img {
        width: 100px;
        height: auto;
    } */

    .home-logo1 {
        width: 100px;
        height: 50px;
        margin-top: 0;
    }

    .home-logo2 {
        width: 100px;
        height: 40px;
        margin-left: 0;
    }

    .home-logo3 {
        height: 50px;
        width: 70px;
    }

    .Quote-img {
        width: 250px;
        height: 100px;
        margin: 1rem;
    }

    .side-discription {
        font-size: 1rem;
        height: 110%;
        padding: 0;
        margin: -10px;
    }

    .mission {
        font-size: 15px;
    }

    .iit-logo img {
        width: 100%;
        height: 100%;
    }

    .side-panel {
        display: flex;
        margin-top: 0;
    }

    .heading {
        padding: 0;
    }

    .about {
        padding: 1rem;
        margin: 0.5rem;
    }

    .about-image {
        width: 100%;
    }

    .research {
        clip-path: ellipse(160% 100% at 50% 100%);
        padding: 0 0rem;
        padding-bottom: 1rem
    }

    .research-head1 {
        text-align: center;
    }

    .research p {
        padding: 0.5rem;
    }

    .research-1 {
        align-items: center;
        font-weight: 700;
        font-size: 0.8rem;
    }

    .m-img {
        width: 144px;
        height: 130px;
    }

    #container h3 {
        font-size: 1.5rem;
    }

    #container h5 {
        font-size: 1rem;
    }

}








/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1250px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}